* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background-image: url(autumn-leaves-composition.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

/*nav {
    width: 100%;
    top: 0px;
    padding: auto;
    overflow: hidden;
}*/

#logo {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: bolder;
    margin-left: 135px;
    margin-top: 10px;
    padding:20px;
    border-radius: 25px;
    font-weight: bolder;
    overflow: hidden;
    position:fixed;
    display: flex;
    flex-direction: column;
    background-color: rgb(1, 22, 21) ;

}
label :hover{
     color:rgb(1, 22, 21);
    background-color: rgb(255, 196, 0);
    padding: 4px;
    border-radius: 50%;
}


nav ul {
    float: right;
    position: fixed;
    right:10px;
    top: 28px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0.5px;
    margin-right: 40px;
}

nav ul li #men {
    list-style: none;
    color: rgb(255, 254, 254);
    font-size: 20px;
    font-weight: bolder;
    border-radius: 5px;
    padding: 12px 7px 7px 12px;
    background-color: rgb(1, 18, 20);
}

nav ul li #men:hover {
    color: rgb(1, 18, 20);
    font-size: 20px;
    background-color: rgb(255, 196, 0);
    box-shadow: 0px 0px 2px 2px rgba(255, 196, 0, 0.801);
}
.container {
    padding: 6rem 5rem 3rem 3rem;
    overflow: hidden;
}
.product{
    position: relative;
    display: flex;
    aspect-ratio: 16/13;
    overflow: hidden;
    box-shadow: 8px 3px 5px 4px rgba(0, 0, 0, 0.534);
    border-radius: 20px;
    margin: auto;
    width: fit-content;
    height: fit-content;
    background-color:rgb(255, 255, 255);
}

.add {
    position: absolute;
    transition: all 1s;
    overflow: auto;
    height: 50px;
    width: 200px;
    margin: auto;
    transform: translateX(100%);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0%;

    bottom: 135px;
}

#Vanila:hover .add {
    background-color: white;
    transition: all 1s;
    box-shadow: 4px 3px 5px 4px rgba(0, 0, 0, 0.719);
    opacity: 100%;
    bottom: 135px;
    color: black;
    transform: translate3d(100%);
}

.reload {
    position: absolute;
    transition: all 1s;
    height: 50px;
    width: 60px;
    margin: auto;
    transform: translateX(100%);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0%;
    bottom: 135px;
    right: 190px;
    font-weight: bolder;
    font-size: 20px;
}

#Vanila:hover .reload {
    background-color: white;
    transition: all 1s;
    box-shadow: 4px 3px 5px 4px rgba(0, 0, 0, 0.719);
    opacity: 100%;
    bottom: 135px;
    right: 190px;
    color: black;
    transform: translate3d(100%);
}

/*--------------------------------------------------------------------------------------*/
.add1 {
    position: absolute;
    transition: all 1s;
    height: 50px;
    width: 200px;
    margin: auto;
    transform: translateX(100%);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0%;
    bottom: 135px;

}

#Blueberry:hover .add1 {
    background-color: white;
    transition: all 1s;
    box-shadow: 4px 3px 5px 4px rgba(0, 0, 0, 0.719);
    opacity: 100%;
    bottom: 135px;
    color: black;
    transform: translate3d(100%);
}

.reload1 {
    position: absolute;
    transition: all 1s;
    height: 50px;
    width: 60px;
    margin: auto;
    transform: translateX(100%);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0%;
    bottom: 135px;
    right: 190px;
    font-weight: bolder;
    font-size: 20px;
}

#Blueberry:hover .reload1 {
    background-color: white;
    transition: all 1s;
    box-shadow: 4px 3px 5px 4px rgba(0, 0, 0, 0.719);
    opacity: 100%;
    bottom: 135px;
    right: 190px;
    color: black;
    transform: translate3d(100%);
}

.storage {
    background-color: rgb(255, 255, 255);
    height: auto;
    width: auto;
    float: right;
    box-shadow: 4px 3px 5px 4px rgba(0, 0, 0, 0.719);
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
    font-weight: bolder;
    position: fixed;
    font-size: 20px;
    font-weight: bold;
}
